# This needs to go to /etc/udev/rules.d/50-wilddivine.rules or similar
# And the UDEV system needs to be reloaded with
#
# $ sudo udevadm control --reload 

SUBSYSTEMS=="usb", ATTRS{idVendor}=="14fa", ATTRS{idProduct}=="0001", GROUP="users", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="0035", GROUP="users", MODE="0666"
